[core]
	editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[alias]
  b = branch -a
  cb = !git branch --merged origin/develop | egrep -v 'master|develop' | xargs git branch -d
  co = checkout
  f = fetch --prune
  st = status
  rc = rebase --continue
  rsth = reset --hard
  loglist = log --pretty=oneline

[user]
	name = Kohei Tabata
	email = nerd0geek1@gmail.com
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
